* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: radial-gradient(circle at top, #0f2027, #000);
  color: white;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 30px;
}

.status-card {
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.1);
  transition: 0.3s;
}

.status-card.safe {
  box-shadow: 0 0 20px #00ff99;
}

.status-card.danger {
  box-shadow: 0 0 25px #ff0033;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
}

.card p {
  font-size: 2.2rem;
  margin-top: 10px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

canvas {
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  padding: 15px;
}